In [1]:
import pandas as pd
import numpy as np
Dataset_1=pd.Series(['A','B','C','D',np.nan])
Dataset_1

0      A
1      B
2      C
3      D
4    NaN
dtype: object

In [2]:
#In order to check if there is any null value inside or not
Dataset_1.isnull()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [3]:
Dataset_1[1]=None

In [5]:
Dataset_1

0       A
1    None
2       C
3       D
4     NaN
dtype: object

In [6]:
#The following command filter out the axis with missing data ,with varying thresold for how much missing data to tolerate
Dataset_1.dropna()

0    A
2    C
3    D
dtype: object

In [7]:
# Returns the value which are not null
Dataset_1[Dataset_1.notnull()]

0    A
2    C
3    D
dtype: object

In [8]:
DataSet_1=pd.DataFrame([[1,0.5,0.9],[1,np.nan,np.nan],[np.nan,np.nan,np.nan],[np.nan,7,8]])
DataSet_1

     0    1    2
0  1.0  0.5  0.9
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  7.0  8.0

In [9]:
DataSet_1.dropna()

     0    1    2
0  1.0  0.5  0.9

In [10]:
#Passing how='all' will only drop rows that have no values
DataSet_1.dropna(how='all')

     0    1    2
0  1.0  0.5  0.9
1  1.0  NaN  NaN
3  NaN  7.0  8.0

In [11]:
DataSet_1.dropna(axis=0)

     0    1    2
0  1.0  0.5  0.9

In [12]:
DataSet_1.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [13]:
DataSet_1.dropna(axis=1,how='all')

     0    1    2
0  1.0  0.5  0.9
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  7.0  8.0